@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
    display: flex;
    flex-direction: $flex_dr;
    justify-content: $jt_content;
    align-items: $al_item;
}

@mixin customBtnStyle($br-radius: 4px, $wd: 90px, $ht: 28px, $br-color: #353535, $bg-color: #ffffff) {
    background-color: $bg-color ;
    border: 1px solid;
    border-color: $br-color;
    border-radius: $br-radius;
    width: $wd;
    height: $ht;
}

#approveRqPop {
    z-index: 1006;

    .popMain {
        width: 600px;
        height: 144px;
    }

    .popBody {
        @include dp_flex(column, flex-start);
        width: 100%;

        >div {
            @include dp_flex($jt_content: flex-start);
            margin-top: 14px;
            width: 100%;

            p {
                @include dp_flex($jt_content: flex-end);
                width: 70px;
            }

            span {
                @include dp_flex;
                width: 30px;
            }

            input {
                @include customBtnStyle(4px, 200px !important, 26px, #B8C0C7);
            }
        }
    }
}