.sptSel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1700px;
}
.sptSel > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 14px;
  width: 100%;
  height: 30px;
  padding: 14px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1215686275);
}
.sptSel > div > form {
  border-radius: 4px;
}
.sptSel > div > form > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  border-right: 1px solid #B8C0C7;
  margin: 0px 0px 12px 12px;
  float: left;
}
.sptSel > div > form > div > p {
  margin-right: 8px;
}
.sptSel > div > form > div > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #353535;
  border-radius: 100px;
  width: auto;
  height: 30px;
}
.sptSel > div > form > div:last-child {
  border: 0px;
}
.sptSel > div > form input {
  width: 240px;
  height: 30px;
  margin-right: 8px;
}
.sptSel > div > form select {
  width: 120px;
  height: 30px;
  margin-right: 8px;
}

.sptListGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 875px;
  width: 100%;
}
.sptListGrid table {
  overflow: scroll !important;
  border-collapse: collapse;
  width: 100% !important;
  position: absolute !important;
  top: -1px;
  left: 1px;
}
.sptListGrid table tbody tr {
  height: 36px;
}
.sptListGrid table tbody tr td {
  border: 1px solid #B8C0C7 !important;
  padding: 0px !important;
}
.sptListGrid table tbody tr td div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  height: 36px;
}
.sptListGrid .gridbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1700px !important;
  height: 875px !important;
  position: absolute;
}
.sptListGrid .gridbox .xhdr {
  width: 100% !important;
  height: 36px !important;
}
.sptListGrid .gridbox .xhdr table {
  margin: 0px !important;
  padding: 0px !important;
}
.sptListGrid .gridbox .xhdr table tbody tr:nth-child(2) td {
  background-color: #8898A7 !important;
  border-color: #677989 !important;
  color: #ffffff;
}
.sptListGrid .gridbox .objbox {
  width: 100% !important;
  height: 810px !important;
}
.sptListGrid .gridbox .objbox::-webkit-scrollbar {
  position: absolute;
  width: 3px !important;
}
.sptListGrid .gridbox .objbox::-webkit-scrollbar-thumb {
  width: 3px !important;
  background-color: #D9D9D9;
}
.sptListGrid .gridbox .objbox::-webkit-scrollbar-track {
  width: 3px !important;
}
.sptListGrid .gridbox .objbox table tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sptListGrid .gridbox .objbox .ev_material {
  background-color: #ffffff !important;
}
.sptListGrid .gridbox .objbox .odd_material {
  background-color: #F8F8F8 !important;
}
.sptListGrid button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}/*# sourceMappingURL=scriptSel.css.map */