@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
    display: flex;
    flex-direction: $flex_dr;
    justify-content: $jt_content;
    align-items: $al_item;
}

.footerBox {
    @include dp_flex($jt_content: space-between);
    height: 70px;
    width: 100%;
    background-color: #ffffff;

    p {
        font-size: 14px;
    }

    >div {
        @include dp_flex;

        > p {
            @include dp_flex;
            margin-right: 26px;
        }

        &:first-child {
            margin-left: 20px;
        }

        > select {
            width: 100px;
            height: 30px;
            font-size: 14px;
        }
        > button {
            @include dp_flex;
            padding: 8px 10px;
        }
    }
    > ul {
        height: 30px;
        > li {
            height: 100%;
            float: left;
            cursor: pointer;

            &:nth-child(3) {
                height: 100%;
                margin: 0px 10px;
                color: #D9D9D9;
            }
            > span {
                @include dp_flex;
                width: 30px;
                height: 100%;
                float: left;
            }
        }
    }   
}
.currentMovePage {
    color: #0f0f0f;
}