@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
  display: flex;
  flex-direction: $flex_dr;
  justify-content: $jt_content;
  align-items: $al_item;
}

.headerBox {
  @include dp_flex($jt_content: space-between);
  background-color: #101846;
  width: 100%;
  height: 40px;

  span {
    margin-right: 9px;
    padding-right: 9px;
    border-right: 1px solid #abcff1;

    &:first-child {
      margin-left: 20px;
      border-right: 0px;
    }
    &:last-child {
      padding-right: 9px;
      border-right: 0px;
    }
  }

  div:last-child {
    margin-right: 20px;
    color: #ffffff;

    > button {
      @include dp_flex;
      background-color: #101846;
      color: #ffffff;
      border-left: 1px solid #ffffff;
      padding: 0px;
    }
  }
}
