@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
    display: flex;
    flex-direction: $flex_dr;
    justify-content: $jt_content;
    align-items: $al_item;
}

.loginBox {
    @include dp_flex;
    width: 100%;
    height: 100%;
}

.waveBgImg {
    >div {
        width: 370px;
        height: 450px;
        float: left;

        &:last-child {
            background-color: #ffffff;
            width: 400px;
        }

        >div {
            @include dp_flex($flex_dr: column);

            form {
                @include dp_flex(column);
                margin-top: 30px;

                div {
                    width: 290px;
                    height: 40px;
                    margin-bottom: 5px;

                    >span {
                        @include dp_flex($jt_content: flex-end);
                        width: 100%;
                        margin-top: 10px;

                        >label {
                            font-size: 16px;
                            color: #919191;
                            cursor: pointer;
                        }
                        > input {
                            width: 16px;
                            height: 16px;
                            margin: 0px 4px 0px 0px;
                        }
                    }
                    &:nth-child(3) {
                        margin-top: 15px;
                    }
                    &:nth-child(4) {
                        height: 16px;
                        margin: 10px 0px 0px 0px;
                    }

                    >input {
                        width: 300px;
                        height: 46px;
                    }
                }

            }

            >p {
                @include dp_flex($jt_content: flex-end);
                width: 100%;
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
}

.iconInput {
    padding-left: 46px;
}

.loginBtn {
    background-color: #002E9D;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
}

.personImg, .lockImg {
    background-size: 44px;
}