@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
    display: flex;
    flex-direction: $flex_dr;
    justify-content: $jt_content;
    align-items: $al_item;
}

@mixin customBtnStyle($br-radius: 4px, $wd: 90px, $ht: 28px, $br-color: #353535, $bg-color: #ffffff) {
    @include dp_flex;
    background-color: $bg-color ;
    border: 1px solid;
    border-color: $br-color;
    border-radius: $br-radius;
    width: $wd;
    height: $ht;
}
// 그리드 테두리 변수
$br-style: 1px solid #D9D9D9;

.containBox {
    @include dp_flex(row, center, normal);
    height: 100%;

    >div {
        @include dp_flex(column);
        width: 50%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0px 1px 6px #0000001F;
        margin: 7px;

        >div {
            @include dp_flex($jt_content: flex-start);
            width: 100%;
            padding: 12px 0px 12px;

            >p {
                padding-left: 10px;
            }

            &:first-child {
                border-bottom: 1px solid #B8C0C7;
                height: 17px;
            }
        }
    }

    // 임시
    &:nth-child(2) {
        >div>div:last-child {
            height: 58px;
        }
    }

    // 임시
    &:nth-child(3) {
        height: 893px;
    }
}

.boxTitle {
    font-size: 18px;
    font-weight: bold;
}

//플레이어
.rcdPlayer {
    @include dp_flex($jt_content: space-around);

    ul {
        @include dp_flex;
        float: left;
        border-right: 1px solid #B8C0C7;

        * {
            font-size: 14px;
        }

        li {
            @include dp_flex;
            float: left;
            margin-right: 8px;

            >label {
                @include dp_flex;
                cursor: pointer;
                
                >input {
                    display: none;
                }

                >span {
                    margin-right: 4px;
                }
            }
        }

        &:nth-child(1) {
            width: 48%;
        }

        &:nth-child(2) {
            width: 20%;
        }

        &:nth-child(3) {
            border-right: 0px;
            width: 29%;
        }
    }

    .playSpeed {
        @include dp_flex($jt_content: space-around);
        background-color: #EAEAEA;
        border-radius: 100px;
        height: 30px;
        margin-left: 12px;

        >li {
            width: 25%;
            height: 100%;
            margin: 0px;

            >label {
                @include dp_flex;
                cursor: pointer;
            }

            >input {
                display: none;
            }
        }
    }
}

.checkedPlaySpeed {
    @include customBtnStyle(100px, $br-color: #00B140, $bg-color: #ffffff);
}

// 고객정보
.memberInfo {
    @include dp_flex($jt_content: space-between);

    span {
        justify-content: flex-start;
        width: 25%;
        padding-left: 10px;

        .blueText {
            margin-right: 8px;
            width: 39%;
        }
    }
}

// 운용상품 안내 
.prdInfo {
    @include dp_flex(column !important, flex-start !important, normal !important);
    height: 100% !important;

    *{
        color: #0f0f0f;
    }

    table {
        width: 98%;
        border-collapse: collapse;

        
        tr {
            height: 36px;
            border: $br-style!important;

            td {
                border: $br-style !important;
            }
        }
    }

    div {
        @include dp_flex;
        width: 100%;
    }

    // dhmlx css
    .xhdr .hdr{
        margin-right: 0px !important;

        tr:nth-child(2) td  {
            background-color: #C9E9E6 !important ;
        }
    }

    .objbox {
        @include dp_flex($al_item: flex-start);

        div {
            @include dp_flex($jt_content: flex-start);
        }

        .treegrid_cell {
            img {
                display: none !important;
            }

            .grid_collapse_icon {
                display: flex !important;
                position: absolute;
                right: 355px;
            }
        }
    }
}

// 투자 위협에 대한 상품 안내 스트립트 
.prdExpScript {
    >div {
        &:last-child {
            @include dp_flex(column, flex-start, normal);
            width: 98%;
            height: 100%;

            >p {
                margin-bottom: 16px;
                padding: 0px;
            }
        }

        span {
            @include dp_flex($jt_content: flex-start);
            margin-bottom: 12px;
        }
    }
}

// 투자 위협에 대한 상품 안내 헤더
.prdScriptHeader {
    @include dp_flex(row, space-between !important);

    ul {
        @include dp_flex;
        margin-right: 14px;

        li {
            margin-left: 8px;
            float: left;

            &:nth-child(1) > button {
                    @include customBtnStyle($wd: auto);
            }

            &:nth-child(2) > button {
                @include customBtnStyle;
            }
        }
    }
}

// 투자 위협에 대한 상품 안내 본문
.prdScriptBody {
    >* {
        font-size: 14px;
    }

    .clientText {
        @include dp_flex(column);

        span {
            @include dp_flex($jt_content: flex-start);
            width: 100%;
        }
    }
}