@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
  display: flex;
  flex-direction: $flex_dr;
  justify-content: $jt_content;
  align-items: $al_item;
}

.searchCdt {
  @include dp_flex;

  > div {
    @include dp_flex($jt_content: flex-start, $al_item: flex-start);
    margin-top: 14px;
    width: 96%;
    background-color: #ffffff;
    height: 96px;
    padding: 14px;

    > form {
      @include dp_flex($al_item: flex-start);
      border-radius: 4px;

      > div {
        @include dp_flex($jt_content: flex-start);
        border-right: 1px solid #b8c0c7;

        > p {
          margin-right: 8px;
        }
        > input {
          width: 130px;
          margin-right: 8px;
        }
      }
    }
  }
}
