@mixin dp_flex($flex_dr: row, $jt_content: center, $al_item: center) {
  display: flex;
  flex-direction: $flex_dr;
  justify-content: $jt_content;
  align-items: $al_item;
}

@mixin customBtnStyle($br-radius: 4px, $wd: 90px, $ht: 28px, $br-color: #353535, $bg-color: #ffffff) {
  @include dp_flex;
  background-color: $bg-color ;
  border: 1px solid;
  border-color: $br-color;
  border-radius: $br-radius;
  width: $wd;
  height: $ht;
}

// 그리드 테두리 변수
$br-style: 1px solid #B8C0C7;

.searchCdt {
  @include dp_flex;

  p {
    font-size: 14px;
  }

  >div {
    @include dp_flex($jt_content: flex-start, $al_item: flex-start);
    margin-top: 14px;
    width: 96%;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px #0000001F;
    height: 68px;
    padding: 14px;

    >form {
      border-radius: 4px;

      >div {
        @include dp_flex($jt_content: flex-start);
        height: 30px;
        border-right: $br-style;
        margin: 0px 0px 12px 12px;
        float: left;

        >p {
          margin-right: 8px;
        }

        >label {
          margin-right: 10px;

          &:last-child {
            margin: 0px;
          }
        }
      }

      >input,
      select {
        margin-right: 8px;
      }
    }
  }

  .rcdDate {
    margin-left: 0px;

    >input {
      width: 130px;
      height: 28px;
      margin-right: 10px;
    }
  }

  .rcdStf,
  .prdDvs,
  .searchEtc {
    >select {
      width: 120px;
      height: 30px;
    }
  }

  .accLink,
  .rcdDvs {
    padding-right: 12px;

    >input {
      width: 16px;
      height: 16px;
    }
  }

  .searchEtc {
    border: 0px;
  }

  .selectCdt {
    margin: 0px;
    border: 0px;

    >select {
      width: 137px;
      height: 30px;
    }

    >input {
      width: 300px;
      height: 26px;
      margin-right: 10px;
    }

    >button {
      @include customBtnStyle(100px, auto, 30px);
      margin-right: 10px;
    }
  }
}

// 가이드 안내 문구
.guideText {
  >div {
    @include dp_flex(column, center);
    margin-top: 13px;
    width: 96%;

    p {
      @include dp_flex($jt_content: flex-start);
      width: 100%;
    }
  }
}

// 녹취리스트 그리드
.rcdListGrid {
  margin-top: 16px;
  height: 695px;

  table {
    border-collapse: collapse;

    tr {
      height: 36px;

      td {
        border: $br-style !important;
      }
    }
  }

  .gridbox {
    @include dp_flex(column);
    width: 97.3% !important;
    height: 100% !important;

    .xhdr {
      width: 100% !important;
      height: 36px !important;

      table {
        margin: 0px !important;
        padding: 0px !important;

        tr:nth-child(2) td {
          background-color: #C9E9E6 !important;
          color: #0F0F0F;

          div {
            padding: 0px !important;

            input {
              margin: 0px;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    .objbox {
      height: 659px !important;
      overflow: scroll !important;

      &::-webkit-scrollbar {
        width: 3px !important;

        &-thumb {
          width: 3px !important;
          background-color: #D9D9D9;
        }

        &-track {
          width: 3px !important;
        }
      }

      tbody {
        position: relative;
        top: 39px;
        left: 1px;

        tr td input {
          margin: 0px;
          width: 16px;
          height: 16px;
        }
      }

      .ev_material {
        background-color: #ffffff !important;
      
        &:nth-child(2) {
          td {
            color: #FF2E69 !important;
          }
        }
      }
      
      .odd_material {
        background-color: #F8F8F8 !important;
      
        &:nth-child(3) {
          td {
            color: #FF2E69 !important;
          }
        }
      }
    }
  }

  button {
    @include dp_flex;
    @include customBtnStyle(4px, 92px, 26px, #353535, #ffffff);
    padding: 0px;
  }
}

.regDvs {
  @include dp_flex;
  @include customBtnStyle(4px, 50px, 26px, #FFB81C, #FFEFCD);
  color: #0f0f0f;
}

.addDvs {
  @include dp_flex;
  @include customBtnStyle(4px, 50px, 26px, #B240FF, #F7EBFF);
  font-weight: bold;
  color: #0f0f0f;
}



// 플레이어
.rcdPlayer {
  @include dp_flex;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  border-top: $br-style;
  border-bottom: $br-style;

}