.bodyBox {
  width: 1465px !important;
}

.groupList > div:first-child button:nth-child(1) {
  justify-content: flex-start;
  width: 240px;
}
.groupList > div:first-child button:nth-child(1) > span {
  margin-left: 2px;
}
.groupList > div:first-child button:nth-child(2) {
  width: 32px;
}

.searchCdt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 58px;
  background-color: #ffffff;
  margin-top: 14px;
}
.searchCdt button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #353535;
  border-radius: 100px;
  width: auto;
  height: 30px;
}
.searchCdt > div {
  margin-right: 14px;
}
.searchCdt button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #353535;
  border-radius: 100px;
  width: auto;
  height: 30px;
}
.searchCdt .delBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #B8C0C7;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  padding: 0px;
}
.searchCdt > form {
  border-radius: 4px;
  width: 50%;
}
.searchCdt > form > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  border-right: 1px solid #B8C0C7;
  margin: 8px 0px 0px 14px;
  float: left;
}
.searchCdt > form > div > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.searchCdt > form > div > input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #B8C0C7;
  border-radius: 4px;
  width: 120px;
  height: 26px;
  margin-right: 8px;
}
.searchCdt > form > div:nth-child(3) {
  border: 0px;
}
.searchCdt > form > div:last-child {
  border: 0px;
}
.searchCdt > form select {
  width: 120px;
  height: 30px;
  margin-right: 8px;
}

.sysCodeListGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 845px;
  width: 100%;
}
.sysCodeListGrid table {
  overflow: scroll !important;
  border-collapse: collapse;
}
.sysCodeListGrid table tr {
  height: 36px;
}
.sysCodeListGrid table tr td {
  border: 1px solid #B8C0C7 !important;
}
.sysCodeListGrid table tr td:first-child {
  background-color: #EAEAEA;
}
.sysCodeListGrid .gridbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97.3% !important;
  height: 100% !important;
  border-color: transparent !important;
}
.sysCodeListGrid .gridbox .xhdr {
  width: 100% !important;
  height: 36px !important;
  border-color: transparent !important;
  background-color: transparent !important;
}
.sysCodeListGrid .gridbox .xhdr table {
  margin: 0px !important;
  padding: 0px !important;
}
.sysCodeListGrid .gridbox .xhdr table tr:nth-child(2) td {
  background-color: #8898A7 !important;
  border-color: #677989 !important;
  color: #ffffff;
}
.sysCodeListGrid .gridbox .xhdr table tr:nth-child(2) td div {
  padding: 0px !important;
}
.sysCodeListGrid .gridbox .xhdr table tr:nth-child(2) td div input {
  margin: 0px;
  width: 16px;
  height: 16px;
}
.sysCodeListGrid .gridbox .objbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100% !important;
  height: 805px !important;
  background-color: transparent !important;
}
.sysCodeListGrid .gridbox .objbox::-webkit-scrollbar {
  position: absolute;
  width: 3px !important;
}
.sysCodeListGrid .gridbox .objbox::-webkit-scrollbar-thumb {
  width: 3px !important;
  background-color: #D9D9D9;
}
.sysCodeListGrid .gridbox .objbox::-webkit-scrollbar-track {
  width: 3px !important;
}
.sysCodeListGrid .gridbox .objbox table tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sysCodeListGrid .gridbox .objbox table tbody td input {
  margin: 0px;
  width: 16px;
  height: 16px;
}
.sysCodeListGrid .gridbox .objbox .ev_material {
  background-color: #ffffff !important;
}
.sysCodeListGrid .gridbox .objbox .odd_material {
  background-color: #F8F8F8 !important;
}/*# sourceMappingURL=systemCodeMg.css.map */