@charset "UTF-8";
/* 
    파일명: allImage.css
    파일내용: 모든 이미지 css
    작성일: 22.12.09
    작성자: 표영운
    수정일:
    수정내용: 

 */
/*
    @name screenImgSize 
    무조건 background url()보다는 나중에 사용할 것
    이미지 가로, 세로, 크기를 정하는 믹스인
 */
.nhLogoImg {
  background: transparent url(../img/pngImg/icon_logo.png) 0% 0% no-repeat padding-box;
  width: 230px;
  height: 44px;
  background-size: 100%;
}

.nhLogoHeaderImg {
  background: transparent url(../img/pngImg/icon_logo.png) 0% 0% no-repeat padding-box;
  width: 126px;
  height: 21px;
  background-size: 100%;
}

.loginBgImg {
  background: transparent url(../img/pngImg/icon_login_background.png) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 1080px;
  background-size: 100%;
}

.waveBgImg {
  background: transparent url(../img/pngImg/icon_bg_wave.png) 0% 0% no-repeat padding-box;
  width: 100%;
  height: 80%;
  background-size: 100%;
}

.sideWaveBgImg {
  background: transparent url(../img/pngImg/icon_side_wave_bg.png) 0% 0% no-repeat padding-box;
  width: 180px;
  height: 635px;
  background-size: 100%;
}

.alramPsImg {
  background: transparent url(../img/pngImg/icon_alram_ps.png) 0% 0% no-repeat padding-box;
  width: 140px;
  height: 24px;
  background-size: 100%;
}

.logoTitleImg {
  background: transparent url(../img/pngImg/icon_title_logo.png) 0% 0% no-repeat padding-box;
  width: 280px;
  height: 34px;
  background-size: 280px;
}

.logoTitleAlramImg {
  background: transparent url(../img/pngImg/icon_title_rdMg.png) 0% 0% no-repeat padding-box;
  width: 294px;
  height: 18px;
  background-size: 294px;
}

.logoTitleFaceRdImg {
  background: transparent url(../img/pngImg/icon_title_faceRd.png) 0% 0% no-repeat padding-box;
  width: 74px;
  height: 18px;
  background-size: 74px;
}

.loginLogoBgImg {
  background: transparent url(../img/pngImg/icon_login_logo_bg.png) 0% 0% no-repeat padding-box;
  width: 370px;
  height: 450px;
  background-size: 100%;
}

.personImg {
  background: transparent url(../img/pngImg/icon_person.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.lockImg {
  background: transparent url(../img/pngImg/icon_lock.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.downTriagle {
  background: transparent url(../img/pngImg/icon_down_triangle.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.upTriagle {
  background: transparent url(../img/pngImg/icon_up_triangle.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.textSize {
  background: transparent url(../img/pngImg/icon_text_size.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.completeImg {
  background: transparent url(../img/pngImg/icon_complete.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.completeBlueImg {
  background: transparent url(../img/pngImg/icon_complete_blue.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.listeningImg {
  background: transparent url(../img/pngImg/icon_listening.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.itemHeadBlackImg {
  background: transparent url(../img/pngImg/icon_head_item_black.png) 0% 0% no-repeat padding-box;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.itemHeadBlueImg {
  background: transparent url(../img/pngImg/icon_head_item_blue.png) 0% 0% no-repeat padding-box;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.mikeImg {
  background: transparent url(../img/pngImg/icon_mike.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.recordIngImg {
  background: transparent url(../img/pngImg/icon_record_ing_blue.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.standByImg {
  background: transparent url(../img/pngImg/icon_stand_by.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.logoutImg {
  background: transparent url(../img/pngImg/icon_logout.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.magnifierBlackImg {
  background: transparent url(../img/pngImg/icon_magnifier_black.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.resetImg {
  background: transparent url(../img/pngImg/icon_reset.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.reset2Img {
  background: transparent url(../img/pngImg/icon_reset2.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.startArrGrayImg {
  background: transparent url(../img/pngImg/icon_start_arrow_gray.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.startArrBlackImg {
  background: transparent url(../img/pngImg/icon_start_arrow_black.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.textSizeImg {
  background: transparent url(../img/pngImg/icon_text_size.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.leftArrGrayImg {
  background: transparent url(../img/pngImg/icon_left_arrow_gray.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.leftArrBlackImg {
  background: transparent url(../img/pngImg/icon_left_arrow_black.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.rightArrGrayImg {
  background: transparent url(../img/pngImg/icon_right_arrow_gray.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.rightArrBlackImg {
  background: transparent url(../img/pngImg/icon_right_arrow_black.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.rightArrGreenImg {
  background: transparent url(../img/pngImg/icon_right_arrow_green.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.endArrGrayImg {
  background: transparent url(../img/pngImg/icon_end_arrow_gray.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.endArrBlackImg {
  background: transparent url(../img/pngImg/icon_end_arrow_black.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.downloadImg {
  background: transparent url(../img/pngImg/icon_download.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.headsetImg {
  background: transparent url(../img/pngImg/icon_headset.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.documentImg {
  background: transparent url(../img/pngImg/icon_document.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.transformImg {
  background: transparent url(../img/pngImg/icon_transform.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.cancelWhiteImg {
  background: transparent url(../img/pngImg/icon_cancel_white.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.pdfImg {
  background: transparent url(../img/pngImg/icon_pdf.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.warningImg {
  background: transparent url(../img/pngImg/icon_warning.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.backArrowImg {
  background: transparent url(../img/pngImg/icon_back_arrow.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.plusImg {
  background: transparent url(../img/pngImg/icon_plus.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.plusBlackImg {
  background: transparent url(../img/pngImg/icon_plus_black.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.minusImg {
  background: transparent url(../img/pngImg/icon_minus.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.wastebasketImg {
  background: transparent url(../img/pngImg/icon_wastebasket.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.wastebasketBlackImg {
  background: transparent url(../img/pngImg/icon_wastebasket_black.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.addFileImg {
  background: transparent url(../img/pngImg/icon_add_file.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.editImg {
  background: transparent url(../img/pngImg/icon_edit.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.keyImg {
  background: transparent url(../img/pngImg/icon_key.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.addPerson {
  background: transparent url(../img/pngImg/icon_add_person.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.folderImg {
  background: transparent url(../img/pngImg/icon_folder.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.saveImg {
  background: transparent url(../img/pngImg/icon_save.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

/*
    버튼 이미지
*/
.plusBtn {
  background: transparent url(../img/pngImg/icon_plus_btn.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.plusCircleBtn {
  background: transparent url(../img/pngImg/icon_plus_btn_circle.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.minusBtn {
  background: transparent url(../img/pngImg/icon_minus_btn.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.playBtn {
  background: transparent url(../img/pngImg/icon_play_btn.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

.checkboxCircleOffBtn {
  background: transparent url(../img/pngImg/icon_checkbox_btn_off.png) 0% 0% no-repeat padding-box;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.checkboxCircleOnBtn {
  background: transparent url(../img/pngImg/icon_checkbox_btn_on.png) 0% 0% no-repeat padding-box;
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.waveImg {
  background: transparent url(../img/pngImg/icon_wave.png) 0% 0% no-repeat padding-box;
  width: 323px;
  height: 30px;
  background-size: 323px;
}

.circlePlusBtn {
  background: transparent url(../img/pngImg/icon_plus_circle_btn.png) 0% 0% no-repeat padding-box;
  width: 20px;
  height: 20px;
  background-size: 20px;
}

.stopSquareBtn {
  background: transparent url(../img/pngImg/icon_stop_btn.png) 0% 0% no-repeat padding-box;
  width: 30px;
  height: 30px;
  background-size: 30px;
}

/*
    택스트 색
*/
.redText {
  color: #ff2e69;
}

.blueText {
  color: #0a74dc;
}

.orangeText {
  color: #FFB81C !important;
}

.greenText {
  color: #00B140 !important;
}

.opacityQt {
  opacity: 0.25;
}

/*
    Gif 이미지
*/
.waveGifImg {
  background: transparent url(../img/gifImg/icon_wave.gif) 0% 0% no-repeat padding-box;
  width: 323px;
  height: 30px;
  background-size: 323px;
}

/*
  input[type="date" 달력 이미지
*/
input[type=date i]::-webkit-calendar-picker-indicator {
  background: transparent url(../img/pngImg/icon_daliy.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

input[type=time i]::-webkit-calendar-picker-indicator {
  background: transparent url(../img/pngImg/icon_timer.png) 0% 0% no-repeat padding-box;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.dhxtreeview_material div.dhxtreeview_cont div.dhxtreeview_area div.dhxtreeview_item div.dhxtreeview_item_text div.dhxtreeview_item_icon i.dhxtreeview_icon.dhxtreeview_icon_minus {
  background: transparent url(../img/pngImg/icon_minus_s_btn.png) 0% 0% no-repeat padding-box !important;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  margin-top: 5px;
}

.dhxtreeview_material div.dhxtreeview_cont div.dhxtreeview_area div.dhxtreeview_item div.dhxtreeview_item_text div.dhxtreeview_item_icon i.dhxtreeview_icon.dhxtreeview_icon_plus {
  background: transparent url(../img/pngImg/icon_plus_s_btn.png) 0% 0% no-repeat padding-box !important;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  margin-top: 5px;
}

.dhxtreeview_material div.dhxtreeview_cont div.dhxtreeview_area div.dhxtreeview_item div.dhxtreeview_item_text div.dhxtreeview_item_icon i.dhxtreeview_icon.dhxtreeview_icon_folder_closed,
.dhxtreeview_material div.dhxtreeview_cont div.dhxtreeview_area div.dhxtreeview_item div.dhxtreeview_item_text div.dhxtreeview_item_icon i.dhxtreeview_icon.dhxtreeview_icon_folder_opened {
  background: transparent url(../img/pngImg/icon_folder.png) 0% 0% no-repeat padding-box !important;
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  margin-top: 5px;
}/*# sourceMappingURL=allImage.css.map */